*{
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body{
  margin: 0;
  background-color: #FAFAF8;
}

header{
  height: 6.9rem;
  background-color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.title{
  font-size: 2rem;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.container{
  width: 90%;
  max-width: 37.5rem;
  margin-inline: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.form__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.form__container > input{
  width: 70%;
  height: 38px;
  padding-inline: 13px;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #D1D5DB;
  color: #6B7280;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  &::placeholder{
    color: #6B7280;
  }
}

.form__container > button{
  font-size: 14px;
  /* min-width: 147px; */
  line-height: 20px;
  /* width: 30%; */
  height: 38px;
  padding-inline: 17px;
  border: 1px solid #6B7280;
  border-radius: 6px;
  background-color: #141413;
  color: #FAFAF8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.1s linear;

  /* flex values does the work of specifying width so width won't work with this */
  flex-grow: 1; /* this means the element will take remaining space to grow but not someone elses*/
  flex-shrink: 0;  /* this means it will not shrink beyong a certain specified width with padding and content */

  &:active{
    transform: scale(0.98);
  }
}

/* @media (max-width: 600px){
  .form__container {
    flex-direction: column;
    align-items: center;
  }
  .form__container > input {
    width: 100%;
  }
  .form__container > button{
    width: fit-content;
  }
} */

.ingredients__container{
  margin-top: 1rem;
}

h2{
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  color: #141413;
  margin-block: 1rem;
}

ul{
  padding-left: 1.75rem;
}

ul li{
  font-size: 18px;
  color: #475467;
  line-height: 28px;

  &::marker{
    color: #475467;
  }
}

.get__recipe{
  margin-top: 2rem;
  /* margin-inline: auto;
  width: 100%;
  max-width: 594px; */
  /* height: 109px; */

  background-color: #F0EFEB;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 28px 42px;
} 

h3{
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #141413;
  margin: 0;
  margin-bottom: 8px;
}

.get__recipe p{
  font-size: 14px;
  line-height: 20px;
  color: #6B7280;
  margin: 0;
}

.btn{
  font-size: 14px;
  font-weight: 500;
  background-color: #D17557;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 10px 17px;
  outline: 0;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  transition: all 0.1s linear;

  &:active{
    transform: scale(0.98);
  }
}
.recipe__container{
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

/* .recipe__container > *{
  font-size: 18px;
  line-height: 28px;
  color: #475467;
} */
.recipe__container h3{
  line-height: 38px;
  font-size: 20px;
  font-weight: 600;
  color: #141413;
}

.recipe__container > h4{
  margin-block: 3rem 1rem;
}

ol{
  padding-left: 1.75rem;
}